<br>
<div class="container">
    <div class="card text-center">
        <div class="card-header">
            <h6>Dummy Data not Loaded</h6>
        </div>
        <div class="card-body">
            please use the admin portal to add companies and products and refresh this page to see the products.
        </div>
        <div class="card-footer text-muted">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">

        <div class="col-4" *ngFor="let product of products">

            <div class="card text-center">
                <div class="card-header">
                    <h5>{{product.name}}</h5>
                    {{product.details}}
                </div>
                <div class="card-body">
                    <img [src]="product.image" class="img-fluid max-width: 100% height: auto">
                </div>
                <div class="card-footer text-muted">
                    <a class="btn btn-secondary" [routerLink]="['/cart', {id:product._id}]">Add to cart</a>
                </div>
            </div>
        </div>
    </div>
</div>
